.root {
    -fx-background-color: #454545;
}

/*.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}*/

/*#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}*/

.button {
    -fx-background-color: #c3c4c4, linear-gradient(#d6d6d6 50%, white 100%), radial gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.jfx-text-field {
    -jfx-unfocus-color: #a1a1a6;

}

.jfx-password-field {
    -jfx-unfocus-color: #a1a1a6;

}

.text-field {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #a1a1a6;
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}
